@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-hero: var(--hero-heading);
  --color-brand-bg: var(--bg);
  --color-brand-surface: var(--surface);
  --color-brand-primary: var(--primary);
  --color-brand-accent: var(--accent);
  --color-brand-border: var(--border);
  --color-brand-text: var(--text);
  --color-brand-muted: var(--muted);

  /* --font-family-display: "Playfair Display", Georgia, serif; */
  --font-family-display: var(--font-display);
  --box-shadow-premium: 0 20px 50px rgba(0,0,0,0.08);
  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.5rem;
}
 
/* =====================================
   GLOBAL DESIGN TOKENS
   ===================================== */

:root {
  --hero-heading: #F1E8DA;
  --bg: #F6F4EF;
  --surface: #FFFFFF;
  --text: #1C1C1C;
  --muted: #6B7280;
  --primary: #0E1B2E;
  --primary-light: #132a46;
  --primary-dark: #0a1422;
  --accent: #B89B5E;
  --accent-light: #D4B26A;
  --border: #E5E0D6;
  --accent-rgb: 184, 155, 94;
}

.dark {
  --bg: #0B1320;
  --surface: #111C2E;
  --text: #F3F4F6;
  --muted: #9CA3AF;
  --primary: #E5E7EB;
  --accent: #D4B26A;
  --border: #1F2937;
}

/* =====================================
   GLOBAL BASE
   ===================================== */

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
}

font-display {
  font-family: 'Cormorant Garamond', serif;
}

.hero-bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 55vh;          /* mobile default */
  z-index: -1;

  background-image: url("/bg-hero-croped.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title-shadow {
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
}

/* Tablet */
@media (min-width: 640px) {
  .hero-bg-layer {
    height: 70vh;
    background-position: center 10%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-bg-layer {
    height: 85vh;
    background-position: center 15%;
  }
}